* {
    margin: 0;
    padding: 0;
    border: none;
}

html {
    height: 100%;
}

body, #content {
    width: 100%;
    height: 100%;
}

#content{
    background-color: #7C6582;
}

#some {
    background-color: slategrey;
}

#element {
    display: inline-block;
    width: auto;
    background-color: #CDC5BB;
    margin: 1.2%;

    /*overflow: auto;*/
}

#element h3 {
    text-align: center;
}

#login-page {
    background-color: #191919;
}

#login-form{
    width: auto;
    text-align: center;
}

#menu {
    float: right;
    width: 85%;
    /*display: inline-block;*/
    /*text-align: center;*/
    height: 90%;
    margin: 2% 1% 2% 1%;
}

#panel, .panel-right {
    padding-top: 15px;
    text-align: center;
    background-color: #F2EE7A;
    float: left;
    width: 13%;
    height: 97.5%;
}

.panel-right {

    margin: auto;
    background-color: #DFE2DB;
    float: none;
}
.panel-right input{
    font-size: 13px;
}

.button {
    margin: 5% 5% 5% 5%;
    background-color: #FFF056;
}

hr{
    height: 2px;
    background-color: darkgoldenrod;
    border: none;
}

#user input {
    width: 60%;
    height: 50%;
    font-size: 11px;
}

#navigation a {
    background-color: #F2EAAA;
}

td{
    display: table-cell;
    vertical-align: inherit;
    border: 1px solid black;
    border-collapse: collapse;
    background-color: #232323;
    color:darkgray;
    font-family: sans-serif;
}

th{
    border: 1px solid black;
    background-color: #151515;
    color: goldenrod;
}


table{
    width: 70%;
}

span {
    font-size: 11px;
}

#element img {
    border: 1px solid black;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#element h3 {
    margin: 8px;
}
